@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;

    /* Theme Configuration */

    /* Border Radius */
    --velt-border-radius-2xs: 0.25rem;
    --velt-border-radius-xs: 0.5rem;
    --velt-border-radius-sm: 1rem;
    --velt-border-radius-md: 1.5rem;
    --velt-border-radius-lg: 2rem;
    --velt-border-radius-xl: 2.5rem;
    --velt-border-radius-2xl: 3rem;
    --velt-border-radius-3xl: 4rem;
    --velt-border-radius-full: 10rem;

    /* Typography */
    --velt-default-font-family: Poppins;

    /* Light Mode */
    /* Accent Colors */
    --velt-light-mode-accent: #e31646;
    --velt-light-mode-accent-text: #e31646;
    --velt-light-mode-accent-hover: #b00013;
    --velt-light-mode-accent-foreground: #ffffff;
    --velt-light-mode-accent-light: #fef3f6;
    --velt-light-mode-accent-transparent: rgba(227, 22, 70, 0.08);

    /* Background Shades */
    --velt-light-mode-background-0: #ffffff;
    --velt-light-mode-background-1: #fcfcfc;
    --velt-light-mode-background-2: #fafafa;
    --velt-light-mode-background-3: #f7f7f7;
    --velt-light-mode-background-4: #f5f5f5;
    --velt-light-mode-background-5: #f2f2f2;
    --velt-light-mode-background-6: #f0f0f0;
    --velt-light-mode-background-7: #ededed;
    --velt-light-mode-background-8: #ebebeb;
    --velt-light-mode-background-9: #e8e8e8;
    --velt-light-mode-background-10: #e6e6e6;

    /* Text Shades */
    --velt-light-mode-text-0: #0a0a0a;
    --velt-light-mode-text-1: #171717;
    --velt-light-mode-text-2: #242424;
    --velt-light-mode-text-3: #303030;
    --velt-light-mode-text-4: #3d3d3d;
    --velt-light-mode-text-5: #4a4a4a;
    --velt-light-mode-text-6: #575757;
    --velt-light-mode-text-7: #636363;
    --velt-light-mode-text-8: #707070;
    --velt-light-mode-text-9: #7d7d7d;
    --velt-light-mode-text-10: #898989;
    --velt-light-mode-text-11: #969696;
    --velt-light-mode-text-12: #a3a3a3;

    /* Border Shades */
    --velt-light-mode-border-0: #ffffff;
    --velt-light-mode-border-1: #fafafa;
    --velt-light-mode-border-2: #f5f5f5;
    --velt-light-mode-border-3: #f0f0f0;
    --velt-light-mode-border-4: #ebebeb;
    --velt-light-mode-border-5: #e5e5e5;
    --velt-light-mode-border-6: #e0e0e0;
    --velt-light-mode-border-7: #dbdbdb;
    --velt-light-mode-border-8: #d6d6d6;
    --velt-light-mode-border-9: #d1d1d1;
    --velt-light-mode-border-10: #cccccc;

    /* Semantic Colors */
    --velt-light-mode-error: #ff7162;
    --velt-light-mode-error-hover: #de5041;
    --velt-light-mode-error-foreground: #ffffff;
    --velt-light-mode-error-light: #fff4f2;
    --velt-light-mode-warning: #ffcd2e;
    --velt-light-mode-warning-hover: #c69400;
    --velt-light-mode-warning-foreground: #474747;
    --velt-light-mode-warning-light: #fffbee;
    --velt-light-mode-success: #198f65;
    --velt-light-mode-success-hover: #006b41;
    --velt-light-mode-success-foreground: #ffffff;
    --velt-light-mode-success-light: #edf6f3;

    /* Dark Mode */
    /* Accent Colors */
    --velt-dark-mode-accent: #e31646;
    --velt-dark-mode-accent-text: #ed88a0;
    --velt-dark-mode-accent-hover: #b00013;
    --velt-dark-mode-accent-foreground: #ffffff;
    --velt-dark-mode-accent-light: #fef3f6;
    --velt-dark-mode-accent-transparent: rgba(227, 22, 70, 0.08);

    /* Background Shades */
    --velt-dark-mode-background-0: #000000;
    --velt-dark-mode-background-1: #030303;
    --velt-dark-mode-background-2: #050505;
    --velt-dark-mode-background-3: #080808;
    --velt-dark-mode-background-4: #0a0a0a;
    --velt-dark-mode-background-5: #0d0d0d;
    --velt-dark-mode-background-6: #0f0f0f;
    --velt-dark-mode-background-7: #121212;
    --velt-dark-mode-background-8: #141414;
    --velt-dark-mode-background-9: #171717;
    --velt-dark-mode-background-10: #1a1a1a;

    /* Text Shades */
    --velt-dark-mode-text-0: #ffffff;
    --velt-dark-mode-text-1: #f2f2f2;
    --velt-dark-mode-text-2: #e6e6e6;
    --velt-dark-mode-text-3: #d9d9d9;
    --velt-dark-mode-text-4: #cccccc;
    --velt-dark-mode-text-5: #bfbfbf;
    --velt-dark-mode-text-6: #b3b3b3;
    --velt-dark-mode-text-7: #a6a6a6;
    --velt-dark-mode-text-8: #999999;
    --velt-dark-mode-text-9: #8c8c8c;
    --velt-dark-mode-text-10: #808080;
    --velt-dark-mode-text-11: #737373;
    --velt-dark-mode-text-12: #666666;

    /* Border Shades */
    --velt-dark-mode-border-0: #0f0f0f;
    --velt-dark-mode-border-1: #1a1a1a;
    --velt-dark-mode-border-2: #1f1f1f;
    --velt-dark-mode-border-3: #242424;
    --velt-dark-mode-border-4: #292929;
    --velt-dark-mode-border-5: #2e2e2e;
    --velt-dark-mode-border-6: #333333;
    --velt-dark-mode-border-7: #383838;
    --velt-dark-mode-border-8: #3d3d3d;
    --velt-dark-mode-border-9: #424242;
    --velt-dark-mode-border-10: #474747;

    /* Semantic Colors */
    --velt-dark-mode-error: #ff7162;
    --velt-dark-mode-error-hover: #de5041;
    --velt-dark-mode-error-foreground: #ffffff;
    --velt-dark-mode-error-light: #fff4f2;
    --velt-dark-mode-warning: #ffcd2e;
    --velt-dark-mode-warning-hover: #c69400;
    --velt-dark-mode-warning-foreground: #474747;
    --velt-dark-mode-warning-light: #fffbee;
    --velt-dark-mode-success: #198f65;
    --velt-dark-mode-success-hover: #006b41;
    --velt-dark-mode-success-foreground: #ffffff;
    --velt-dark-mode-success-light: #edf6f3;

    /* Spacing */
    --velt-spacing-2xs: 0.125rem;
    --velt-spacing-xs: 0.25rem;
    --velt-spacing-sm: 0.5rem;
    --velt-spacing-md: 0.75rem;
    --velt-spacing-lg: 1rem;
    --velt-spacing-xl: 1.25rem;
    --velt-spacing-2xl: 1.5rem;

    /* Font Size */
    --velt-font-size-2xs: 0.625rem;
    --velt-font-size-xs: 0.75rem;
    --velt-font-size-sm: 0.875rem;
    --velt-font-size-md: 1rem;
    --velt-font-size-lg: 1.5rem;
    --velt-font-size-xl: 1.75rem;
    --velt-font-size-2xl: 2rem;
  }
}
/* hide the handles */

.react-flow__handle {
  opacity: 0;
}

.react-flow__node .react-flow__handle-bottom {
  width: 100% !important;
  height: 10px;
}
.react-flow__node .react-flow__handle-top {
  width: 100% !important;
  height: 10px;
}

.react-flow__node .react-flow__handle-left {
  height: 100% !important;
  width: 10px;
}
.react-flow__node .react-flow__handle-right {
  height: 100% !important;
  width: 10px;
}
.react-flow__resize-control.handle {
  width: 14px !important;
  height: 14px !important;
  border-radius: 50% !important;
  background-color: #3b82f6 !important;
  border: 2px solid white !important;
  z-index: 100 !important;
}
